# Dependencias para la aplicación principal
# sentence-transformers
fastapi
uvicorn[standard]
SQLAlchemy
PyMySQL
pandas
langchain
langchain_core
numpy
scipy
mistralai
requests
python-dotenv
beautifulsoup4
langchain_openai 
selenium
