# Dependencias para la aplicación FastAPI y el servidor
fastapi
uvicorn[standard]

# Dependencias para la conexión a la base de datos
SQLAlchemy
PyMySQL

# Dependencias para el proceso de RAG
langchain
numpy
scipy
mistralai
beautifulsoup4  # Para bs4
selenium
python-dotenv   # Para dotenv